.wrap {
    padding: 20px;
    width: 80%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 30px;
    font-weight: 400;
}

.membersList {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.memberItem {
    display: flex;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

.memberItem:last-child {
    border-bottom: none;
}

.avatarContainer {
    margin-right: 12px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.avatarPlaceholder {
    width: 40px;
    height: 40px;
    background-color: #bbb;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
    font-size: 16px;
}

.memberDetails {
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-between;
}

.userName {
    font-weight: 600;
}

.userEmail {
    color: #666;
    font-size: 14px;
}

.membersTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.membersTable th,
.membersTable td {
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.membersTable th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-align: center;
}

.avatarCell {
    text-align: center;
}

.avatar img,
.avatarPlaceholder {
    margin: auto;
    display: block;
}

.exportButton {
    background-color: green;
    padding: 10px 10px;
    border: none;
    color: white;
    border-radius: 10px;
    width: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.exportText {
    margin-top: 5px;
}
