.wrap {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: fixed;
    height: calc(100vh - 64px);
    width: calc(100% - 240px);
}
.content {
    display: flex;
    box-sizing: border-box;
}
.table {
    width: calc(100% - 350px);
    box-sizing: border-box;
}

.listStudent {
    height: calc(100vh - 260px);
    overflow-y: auto;
    box-sizing: border-box;
}
.listStudent::-webkit-scrollbar {
    background-color: #fff;
    width: 6px;
}
.listStudent::-webkit-scrollbar-thumb {
    background-color: rgb(237, 230, 230);
    height: 20px;
}
