.wrap {
    display: flex;
    width: 100%;
    height: calc(100vh - 64px);
}
.content {
    border-right: 1px solid #d8dcf0;
    box-sizing: border-box;
    flex: 1;
    height: auto;
    background-color: rgb(240, 242, 245);
}
.box {
    display: flex;
    height: fit-content;
    justify-content: center;
}
.sidebarRight {
    background-color: rgb(240, 242, 245);
}
